Django==5.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-ninja==1.5.0
django-ninja-jwt==5.4.2
django-cors-headers==4.7.0
whitenoise==6.11.0
pytest
pgvector
psycopg2-binary
model-bakery
django-dynamic-fixture
django-grappelli
ollama==0.5.3
boto3==1.40.43
httpx==0.28.1
fastapi==0.118.0
uvicorn[standard]==0.24.0
gunicorn
torch
torchvision
sentence-transformers==2.7.0
geopy==2.4.1
celery==5.4.0
kombu[sqs]>=5.3.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
