Django==5.0.1
djangorestframework
djangorestframework-simplejwt
django-ninja
django-ninja-jwt
django-cors-headers
whitenoise
pgvector
psycopg2-binary
django-grappelli
ollama==0.5.3
boto3
fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn
torch==2.5.1+cpu --index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.7.0