Django==5.0.1
djangorestframework
djangorestframework-simplejwt
django-ninja
django-ninja-jwt
django-cors-headers
whitenoise
pgvector
psycopg2-binary
django-grappelli
ollama==0.5.3
boto3
httpx
fastapi>=0.118.0
uvicorn[standard]==0.24.0
gunicorn
sentence-transformers==2.7.0
geopy==2.4.1
celery[sqs]==5.4.0
django-celery-beat==2.7.0
django-celery-results==2.5.1