Django==5.0.1
djangorestframework
djangorestframework-simplejwt
django-ninja
django-ninja-jwt
django-cors-headers
whitenoise
pgvector
psycopg2-binary
django-grappelli
ollama==0.5.3
boto3
httpx
fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn
torch
sentence-transformers==2.7.0