Django==5.0.1
djangorestframework
djangorestframework-simplejwt
django-ninja
django-ninja-jwt
django-cors-headers
requests
beautifulsoup4
ics
pytest
pgvector
psycopg2-binary
responses
model-bakery
django-dynamic-fixture
django-grappelli
